body {
	font-family: 'Montserrat', sans-serif;
	background-color: #EEE;
}

@media screen and (min-width: 687px) {
	.header-large{
		background: #f6ebb8 url(../images/header-bg.png);
		text-align: center;
		padding: 0.25em 0;
	}

	.header-large img {
		display: inline-block;
	}

	.header-small {
		display: none;
	}

}

@media screen and (max-width: 686px) {

	.header-large {
		display: none;
	}

	.header-small{
		background: #f6ebb8 url(../images/header-bg.png);
		height: 3em;	
	}

	.header-small img {
		margin: 0 auto;
		padding: 0.5em;
	}

}

.title {
	display: inline-block;
	vertical-align: middle;
	padding: 0 1.25em;
}

.subtitle {
	font-size: 1.33em;
	text-transform:uppercase;
	margin-top: -0.5em;
	color: #c7b673;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}

nav {
	background-color: #e1bd49;	
	padding: 1em;
}

.modal-header {
	background-color: #f6ebb8;
	color: #c7b673;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);	
}

#main {
	background-color: #EEE;
}

#posts {
	margin: 0 auto;
}

li.post {
	padding: 0;
	margin: 1.5em;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	width: 230px;
	vertical-align: top;	
}

li.post h5 {
	color: #c7b673;
	text-align:left;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
	margin: 0.5em;	
}

p.description {
	color: #666;
	font-size: 0.78571em; /*About 11px*/
	font-style:italic;
	margin: 0.5em;
	text-align: left;
	height:3.5em;
}

footer {
	background-color:#f6ebb8;	
}

.footer-nav {
	padding: 3em 0;	
	color: #c7b673;
}
