body {
	font-family: 'Montserrat', sans-serif;
	background-color: #EEE;
}

@media screen and (min-width: 687px) {
	.header-large{
		background: #f6ebb8 url(../images/header-bg.png);
		text-align: center;
		padding: 0.25em 0;
	}

	.header-large img {
		display: inline-block;
	}

	.header-small {
		display: none;
	}

}

@media screen and (max-width: 686px) {

	.header-large {
		display: none;
	}

	.header-small{
		background: #f6ebb8 url(../images/header-bg.png);
		height: 3em;	
	}

	.header-small img {
		margin: 0 auto;
		padding: 0.5em;
	}

}

.title {
	display: inline-block;
	vertical-align: middle;
	padding: 0 1.25em;
}

.subtitle {
	font-size: 1.1em;
	text-transform:uppercase;
	margin-top: 0;
	color: #c7b673;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}

nav {
	background-color: #e1bd49;	
	padding: 1em;
}

.modal-header {
	background-color: #f6ebb8;
	color: #c7b673;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);	
}

#main {
	background-color: #EEE;
	width: 93%;
	min-width: 1000px;
	max-width: 1200px;
	margin: 30px auto;
	border: 1px solid red;
}


#posts {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;		
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.post {
	display: inline-block;
	width: 100%;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.25);
	/*Prevent content from breaking apart in column flow*/
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin: 0 0 20px 0;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.post img {
	width: 100%;
}

.post h4 {
	color: #c7b673;
	text-align:left;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
	margin: 0.5em 0;	
}

.post p {
	color: #666;
	font-size: 0.78571em; /*About 11px*/
	margin: 0 0 0.5em 0;
}

@media (min-width: 1280px) {
	#posts {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (max-width: 320px) {
	#posts {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

footer {
	background-color:#f6ebb8;	
}

.footer-nav {
	padding: 3em 0;	
	color: #c7b673;
}
