{% extends "site.html" %}
{% block body %}

<!---Ramen Photos-->	
<div class="container" id="main">
	<ul class="list-inline" id="posts">
		<li class="post">
			<img src= '{{ url }}' style="width: 225px; height: 225px;"></img>
			<h4>Ramen One</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Two</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Three</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Four</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Five</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Six</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Seven</h4>
		</li>
		<li class="post">
			<img src="http://placehold.it/225x225"/>
			<h4>Ramen Eight</h4>
		</li>																
	</ul>
</div>

{% endblock %}
