{% extends "site.html" %}
{% block content %}

<!---Ramen Photos-->	
  <div id="boxes">

  {% include "grid.html" %}

  </div>

  <div id="loadmoreajaxloader" style="display:none;"><center><img src="/static/images/ajax-loader.gif" /></center></div>

<script type="text/javascript">
var canScroll = true;
var nextPage = 1;
$('#boxes').waterfall({
  itemCls: 'box',
  checkImagesLoaded: false,
  dataType: 'html',
  debug: true,
  checkImagesLoaded: false,
  path: function(page) {
    return '/list/' + nextPage;
  },
  callbacks: {
    loadingStart: function($loading) {
      if (!canScroll) {
        console.log('end!');
        isBeyondMaxPage = true;
      }
      $loading.show();
    },
    loadingFinished: function($loading, isBeyondMaxPage) {
      if ( !isBeyondMaxPage ) {
        $loading.fadeOut();
        nextPage++;
      }
      else {
        $loading.remove();
      }
    },
    loadingError: function($message, xhr) {
      $message.html(xhr.responseText);
    },
    renderData: function (data, dataType) {
      canScroll = false;
      return data;
    }
  }
});
</script>

{% endblock content %}

