{% extends "site.html" %}
{% block body %}

<!---Ramen Photos-->	
<div class="container" id="main">
	<ul class="list-inline" id="posts">
		<li class="post">
			<img src= '{{ url }}' style="width: 230px; height: 200px;"></img>
			<h5>Ramen One</h5>
			<p class="description">spicy, cayenne, broccoli, green onion, egg</p>
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Two</h5>
			<p class="description">&nbsp;</p>
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Three</h5>
			<p class="description">&nbsp;</p>

		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Four</h5>
			<p class="description">&nbsp;</p>			
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Five</h5>
			<p class="description">&nbsp;</p>			
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Six</h5>
			<p class="description">&nbsp;</p>			
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Seven</h5>
			<p class="description">&nbsp;</p>
		</li>
		<li class="post">
			<img src="http://placehold.it/230x200"/>
			<h5>Ramen Eight</h5>
			<p class="description">&nbsp;</p>			
		</li>																
	</ul>
</div>

{% endblock %}
