<!DOCTYPE html>
<!--[if IE 9]><html class='lt-ie10' lang='en' > <![endif]-->
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pimp my Ramen</title>
  <script src='static/js/mithril.js'></script>
</head>
<body>
{% block body %}
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-26116441-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
